<!-- HEADER -->
		<div class="section no-pad-bot primary-color">
			<div class="container">
				<h1 class="center-on-small-only white-text">Skille</h1>
				<div class="row center">
					<h4 class="header col s12 light center white-text">Welcome to the first truly on demand game rental service</h4>
				</div>
				<div class="row center padding-bottom">
					<a href="#" class="btn-large waves-effect waves-light secondary-color">HOW IT WORKS</a>
				</div>
			</div>
		</div>	

<!-- TOP CHARTS -->
	<div class="container">
		<div class="row">
			<div class="col m6">
				<h4>Top Rented Games</h4>
				<ul class="collection">
					<li ng-repeat="game in gamesLibrary" class="collection-item avatar">
						<img src="{{game.image}}" class="circle">
						<span class="title">{{game.name}}</span>
						<p>${{game.price}}</p>
						<a href="#">Add to Cart</a>
					</li>
				</ul>
			</div>
			<div class="col m6">
				<h4>Top Rented Consoles</h4>
				<ul class="collection">
					<li ng-repeat="console in consoleLibrary" class="collection-item avatar">
						<img src="{{console.image}}" class="circle">
						<span class="title">{{console.name}}</span>
						<p>${{console.price}}</p>
						<a ng-href="#/consoles/{{console.name}}">Add to Cart</a>
					</li>
				</ul>
			</div>
		</div>
	</div>