<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>GameByrd</title>
	<link rel="stylesheet" type="text/css" href="
https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	 <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

</head>
<body ng-cloak>
	<div ng-controller="main" class="main">
<!--NAVBAR -->

			<nav>
			<div class="nav-wrapper relative primary-color">
				<a class="modal-trigger waves-effect waves-light shopping-cart" href="#modal2"><i class="material-icons">shopping_cart</i></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="side-nav" id="mobile-demo">
					<img class="nav-logo" width="200px" src="img/gamebyrd.png">

					<div class="search-wrapper-card searchbar z-depth-1">
	    				<input id="search">
	    				<i class="material-icons search-icon">search</i>
	    			<div class="search-results"></div>
	    	</div>



					<li><a href="#/howitworks">How It Works</a></li>
					<li><a href="#">FAQs</a></li>				
					<li class="no-padding">
	        	<ul class="collapsible collapsible-accordion">
	          		<li>
		            	<a class="collapsible-header">Consoles<i class="mdi-navigation-arrow-drop-down"></i></a>
		            	<div class="collapsible-body">
		              	<ul>
			                <li ng-repeat="console in consoleLibrary"><a ng-href="#/consoles/{{console.name}}">{{console.name}}</a></li>
		              	</ul>
		            	</div>
	          		</li>
				</ul>
				<li><a href="#">Contact Us</a></li>
			</div>
			</nav>

		<ul id="slide-out" class="side-nav fixed z-depth-3">
			<img class="nav-logo" width="200px" src="img/gamebyrd.png">
	    	<div class="search-wrapper-card searchbar z-depth-1">
	    		<input id="search">
	    		<i class="material-icons search-icon">search</i>
	    		<div class="search-results"></div>
	    	</div>
	    	<li><a href="#/howitworks">How It Works</a></li>
	    	<li><a href="#!">FAQs</a></li>
	    	<li class="no-padding">
	        	<ul class="collapsible collapsible-accordion">
	        	<li>
	        	<a class="collapsible-header waves-effect waves-light">Consoles</a>
	        	<div class="collapsible-body">
	            	<ul>
	                	<li ng-repeat="console in consoleLibrary"><a ng-href="#/consoles/{{console.name}}">{{console.name}}</a></li>
	            	</ul>
	            </div>
	          	</li>
	        	</ul>
	      	</li>
	      	<li><a href="#">Contact Us</a></li>
	    </ul>

	    <div ng-view></div>


</div>


<footer class="primary-color">
		<div class="container center primary-color">


			<a href="#" target="_blank"><img src="img/facebook.png" alt="Facebook"></a>
			<a href="#" target="_blank"><img src="img/twitter.png" alt="Twitter"></a>

		<p class="white-text">&copy; Copyright 2016</p>

		</div><!--EndContainer-->
</footer>

	<!-- Placed at end of body so pages load faster -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/inventory.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	


</body>
</html>