/*CLASS MODULES*/
.padding-bottom {
	padding-bottom: 40px;
}

.primary-color {
	background-color: #3C3B82;
}

.secondary-color {
	background-color: #19B52D;
}

.inline {
	display: inline;
}

.lg-pic {
  max-width: 200px;
  max-height: 250px;
  height: auto;
  width: auto;
}

.md-pic {
	max-width: 110px;
	max-height: 130px;
	height: auto;
	width: auto;
}

.sm-pic {
	max-height: 100px;
	max-width: 100px;
	height: auto;
	width: auto;	
}

.xs-pic {
	max-height: 75px;
	max-width: 75px;
	height: auto;
	width: auto;
}

.relative {
	position: relative;
}

.float-left {
  float: left;
}

.overflow-hidden {
  overflow: hidden;
}

/* Centering the Modals due to nav*/
.md-dialog-container {
	padding-left: 210px;
}

/*LANDING PAGE*/

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/landingpageimg.png), no-repeat;
    background-size: cover; 
}

}
video { 
	display: block; 
}

/*@media screen and (max-device-width: 800px) {
    html {
         background: url(../img/landingPageImage.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}*/

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .9; 
}

.header-overlay {
	position: relative;
}

.toggle-video {
	position: absolute;
	top: 10px;
	right: -50px;
}

header, .main, footer {
  padding-left: 210px;
  max-width: 100%;
  overflow-x: hidden;
}



.landingpage-text {
	margin: 0;
	width: 90%;
}

.landingpage-text h1 {
	margin-top: 0;
}



/* ---- grid ---- */

.grid {
  position: relative !important;
  background: #EEE;
  width: 3000px;
  margin-left: -400px;
  margin-top: -300px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
/*
.square {
  height: 250px;
  width: 400px;
}*/

.classic {
  height: 200px;
  width: 300px;
}

.new {
  height: 300px;
  width: 200px;
}






/*SIDE NAV*/
.side-nav {
	width: 210px;
}

.searchbar {
	position: relative;
	padding: 10px;
	width: 95%;
	margin: auto;
}

.searchbar input {
	border-bottom: none;
	margin: 0;
	height: 100%;
}

.search-icon {
	position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

.nav-logo {
	padding-left: 4px;
}
/*TOP NAV*/
.shopping-cart {
	position: absolute;
	right: 12px;
}

/*CONSOLE PAGE*/
.no-top-margin {
	margin-top: 0px;
}

.addtocart {
	float: right;
}

/* CART */
.cart-image {
	float: left;
}

/*TOP CHARTS*/
.content {
	padding-left: 30px !important;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
}











.scene {
  position: absolute;
  margin: 0;
}

.background {
/*  position: relative !important;*/
  /*background-color: pink;*/
  width: 100%;
  height: 70vh;
  -webkit-box-shadow: inset 0px -1px 16px 2px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -1px 16px 2px rgba(0,0,0,1);
  box-shadow: inset 0px -1px 16px 2px rgba(0,0,0,1);
}

/*Experimental*/
.container-exp {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    background: pink;
}

#search {
  background-color: white;
  width: 50%;
  margin: auto;
  padding-left: 15px;
  border-radius: 5px;
  height: 4em;
  font-size: 1.2em;
  -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.75);
}

.search-container {
  max-width: 85vw;
  top: 20%;
}

.search-results {
  background-color: white;
  width: 51%;
  margin: auto;
  padding-left: 15px;
  border-radius: 5px;
  height: 300px;
  padding: 0;
  overflow: auto;
  z-index: 10;
}

.block {
  display: block;
}

.search-results-hover:hover {
  transition: box-shadow .25s;
  box-shadow: 0 0px 17px 4px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 10;
}

.results {
  width: 100%;
  min-height: 0px !important;
  margin: 4px 0;
}

.item-container {
  border: none;
  margin: 0;
}
 
/* 
.layer div  {
    position: absolute;
}
*/

@media only screen and (max-width : 992px) {
  header, .main, footer {
    padding-left: 0;
  }
  .md-dialog-container {
	padding-left: 0px;
  }
  .grid{
  	margin-left: -300px;
  }

  #search {
    width: 70%;
  }

  .search-container {
    max-width: 100vw
  }

  .search-results {
    width: 71.5%;
  }

}

.img-border {
  border-solid: black 5px;
}
