<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
      <div class="md-toolbar-tools primary-color">
        <h2>Login/Signup</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:400px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Login">
          <md-content class="md-padding">
            <form ng-submit="login()">
              <input type="text" ng-model="loginForm.username" placeholder="Username"/>
              <input type="password" ng-model="loginForm.password" placeholder="Password"/>
              <!-- <input type="submit"/> -->
              <button type="submit" md-no-focus-style=false class="btn primary-color float-right" style="margin-right:20px;">
                Login
              </button>
            </form>
          </md-content>
        </md-tab>
        <md-tab label="Sign Up">
          <md-content class="md-padding">
            <form ng-submit="signup()">
                <input type="text" ng-model="signupForm.first_name" placeholder="First Name"/>
                <input type="text" ng-model="signupForm.last_name" placeholder="Last Name"/>
                <input type="text" ng-model="signupForm.email" placeholder="email"/>
                <input type="text" ng-model="signupForm.username" placeholder="Username"/>
                <input type="password" ng-model="signupForm.password" placeholder="Password"/>
                <button type="submit" md-no-focus-style=false class="btn primary-color float-right" style="margin-right:20px;">
                  Sign Up
                </button>
            </form>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
</md-dialog>