<!-- Check Cart/Checkout -->
   <div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Basket</h4>
      <div>
        <ul class="collection">
            <li ng-repeat="(console, value) in cart.consoles" class="collection-item avatar">
              <img ng-src="{{value.picture}}" alt="" class="circle">
              <span class="title">{{value.name}}</span>
              <p>Quantity: {{value.quantityOrdered}}<br>
                 
              </p>
              <span class="secondary-content">{{value.subTotal}}</span>
            </li>
            <li ng-repeat="(game, value) in cart.games" class="collection-item avatar">
              <img ng-src="{{value.cover}}" alt="" class="circle">
              <span class="title">{{value.title}}</span>
              <p>Quantity: {{value.quantityOrdered}}<br>
                 Console: {{value.console}}
              </p>
              <span class="secondary-content">{{value.subTotal}}</span>
            </li>
            <li ng-repeat="(accessory, value) in cart.accessories" class="collection-item avatar">
              <img ng-src="{{value.picture}}" alt="" class="circle">
              <span class="title">{{value.name}}</span>
              <p><br>
                 Second Line
                 Console: {{value.console}}
              </p>
              <span class="secondary-content">{{value.subTotal}}</span>
            </li>
          </ul>
          <div>
            <span>Subtotal: {{user.subTotal}}</span>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Checkout</a>
    </div>
  </div>
  