<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
      <md-tab label="Delivery Information">
        <md-content class="md-padding checkout-padding">
          <div class="row">
              <h1 class="md-display-2">Delivery Information</h1>
              <span>Please confirm all information is correct before continuing</span>
              
	              <md-content class="md-no-momentum">
	                  <form name="userForm" ngSubmit=updateUser()>
		                <div layout='row'>
		                  <md-input-container flex="50" class="no-bottom-margin md-icon-float md-block">
		                    <!-- Use floating label instead of placeholder -->
		                    <label>First Name</label>
		                    <md-icon class="name"><i class="material-icons">person</i></md-icon>
		                    <input ng-model=user.first_name type="text" ng-required="true">
		                  </md-input-container>
		                  <md-input-container flex="50" class="no-bottom-margin md-icon-float md-block">
		                    <!-- Use floating label instead of placeholder -->
		                    <label>Last Name</label>
		                    <md-icon md-svg-src="" class="name"></md-icon>
		                    <input ng-model="user.last_name" type="text" ng-required="true">
		                  </md-input-container>
		                </div>
		                  <md-input-container md-no-float class="md-block">
		                  	<label>Phone</label>
		                    <md-icon><i class="material-icons">phone</i></md-icon>
		                    <input ng-model="user.mobile_phone" type="text" ng-required="true">
		                  </md-input-container>
		                  <md-input-container class="md-block">
		                    <!-- Use floating placeholder instead of label -->
		                    <md-icon class="email"><i class="material-icons">email</i></md-icon>
		                    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
		                  </md-input-container>
		                  <md-input-container md-no-float class="md-block">
		                  	<label>Address</label>
		                    <input ng-model="user.address" type="text" ng-required="true">
		                    <md-icon style="display:inline-block;"><i class="material-icons">location_on</i></md-icon>
		                  </md-input-container>
		                <div layout='row'>
		                  <md-input-container md-no-float flex="50" class="no-bottom-margin md-block">
		                  	<label>City</label>
		                    <input ng-model="user.city" type="text" ng-required="true">
		                    <md-icon md-svg-icon="" style="display:inline-block;"></md-icon>
		                  </md-input-container>
		                  <md-input-container md-no-float flex="20" class="no-bottom-margin md-block">
		                  	<label>State</label>
		                    <input ng-model="user.state" type="text" ng-required="true">
		                    <md-icon md-svg-icon="" style="display:inline-block;"></md-icon>
		                  </md-input-container>
		                  <md-input-container md-no-float flex="30" class="no-bottom-margin md-block">
		                  	<label>Zip Code</label>
		                    <input ng-model="user.zip_code" type="text" ng-required="true">
		                    <md-icon md-svg-src="" style="display:inline-block;"></md-icon>
		                  </md-input-container>
		                </div>
		                  <md-button class="float-right" ng-disabled="userForm.$invalid" ng-click="updateUser()" type="submit">Next</md-button>
	                  </form>
	                </md-content>        	            
            </div>
        </md-content>
      </md-tab>



      <md-tab label="Order Summary" ng-disabled="tabTwoDisabled">
        <md-content class="md-padding">
          <h1 class="md-display-2">Order Summary</h1>
            <span>Please confirm all information is correct before continuing</span>
            <div>
              <ul class="collection">
                  <li ng-repeat="(console, value) in cart.consoles" class="collection-item avatar basket">
                    <img ng-src="{{value.picture}}" alt="" class="sm-pic">
                    <span class="title basket-title">{{value.name}}</span>
                    <span ng-hide="value.showEdit" class="basket-subhead">Quantity: {{value.quantityOrdered}}</span>
                    <input ng-show="value.showEdit" class="basket-input" placeholder="Update Quantity" type="number" ng-model="value.quantityOrdered"></input>
                    <md-button ng-click="editItem(value)" class="basket-edit" ng-hide="value.showEdit">Edit</md-button>
                    <md-button ng-click="saveItem(value)" class="basket-edit" ng-show="value.showEdit">Save</md-button>
                    <span class="secondary-content">${{value.subTotal}}/week</span>
                    <md-button ng-click="deleteItem(value)" class="basket-delete" ng-show="value.showEdit" >DELETE</md-button>
                  </li>
                  <li ng-repeat="(game, value) in cart.games" class="collection-item avatar basket">
                    <img ng-src="{{value.cover}}" alt="" class="sm-pic">
                    <span class="title basket-title">{{value.title}}</span>
                    <span ng-hide="value.showEdit" class="basket-subhead">Quantity: {{value.quantityOrdered}}</span>
                    <input ng-show="value.showEdit" class="basket-input" placeholder="Update Quantity" type="number" ng-model="value.quantityOrdered"></input>
                    <md-button ng-click="editItem(value)" class="basket-edit" ng-hide="value.showEdit">Edit</md-button>
                    <md-button ng-click="saveItem(value)" class="basket-edit" ng-show="value.showEdit">Save</md-button>
                    <span class="secondary-content">${{value.subTotal}}/week</span>
                    <md-button ng-click="deleteItem(value)" class="basket-delete" ng-show="value.showEdit" >DELETE</md-button>
                  </li>
                  <li ng-repeat="(accessory, value) in cart.accessories" class="collection-item avatar basket">
                    <img ng-src="{{value.picture}}" alt="" class="sm-pic">
                    <span class="title basket-title">{{value.name}}</span>
                    <span ng-hide="value.showEdit" class="basket-subhead">Quantity: {{value.quantity}}</span>
                    <input ng-show="value.showEdit" class="basket-input" placeholder="Update Quantity" type="number" ng-model="value.quantityOrdered"></input>
                    <md-button ng-click="editItem(value)" class="basket-edit" ng-hide="value.showEdit">Edit</md-button>
                    <md-button ng-click="saveItem(value)" class="basket-edit" ng-show="value.showEdit">Save</md-button>
                    <span class="secondary-content">${{value.subTotal}}/week</span>
                    <md-button ng-click="deleteItem(value)" class="basket-delete" ng-show="value.showEdit" >DELETE</md-button>
                  </li>
                </ul>
                <div>
                  <span class="float-right">Subtotal: ${{user.subTotal}}</span>
				</div>
                <div> 
                  <form action="/api/charge" method="POST">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_UAZRjNIu7TRnDkjCLMpIEAlf"
                      data-image="../../img/gamebyrd.png"
                      data-name="Gamebyrd"
                      data-description="Rental"
                      data-amount="{{user.subTotal * 100}}"
                      data-locale="auto">
                    </script>
                  </form>
                 </div>
            </div>
        </md-content>
      </md-tab>



      <md-tab label="Confirmation" ng-disabled="tabThreeDisabled">
        <md-content class="md-padding">
          <h1 class="md-display-2">Confirmation</h1>
          <span>Thank you for your order!</span>

          <form action="/api/charge" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_UAZRjNIu7TRnDkjCLMpIEAlf"
              data-image="../../img/gamebyrd.png"
              data-name="Gamebyrd"
              data-description="Rental"
              data-amount="{{user.subTotal * 100}}"
              data-locale="auto">
            </script>
          </form>
         
      </md-tab>
    </md-tabs>
  </md-content>
</div>