<!-- CART -->
<ng-include src="'html/cust/cart.html'"></ng-include>


<script type="text/javascript">

var $grid = $('.grid').imagesLoaded( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
    columnWidth: 10
  }); 
});

var scene = document.getElementById('scene');
var parallax = new Parallax(scene);
parallax.limit(72, 72)

 $("#mouseenter")
    .mouseenter(function () { 
      parallax.enable()
      parallax.limit(89, 89)
  })
    .mouseleave(function () { 
        // setTimeout(function() {parallax.disable()}, 500)
        parallax.disable()


        
    })


</script>

 <div id="mouseenter" class="container-exp shadow">


    <ul id="scene" data-invert-x="true" class="scene">
      
      <li class="layer grid" data-depth="1.40">
        <div class="grid-item new">
          <img class="new" src={{newbies[0]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[0]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[1]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[1]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[2]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[3]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[4]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[3]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[4]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[5]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[6]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[7]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[8]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[5]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[6]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[9]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[10]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[11]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[12]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[7]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[8]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[13]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[14]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[15]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[16]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[9]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[10]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[17]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[18]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[19]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[20]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[11]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[12]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[21]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[22]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[23]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[24]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[13]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[14]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[25]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[26]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[27]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[28]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[15]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[16]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[29]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[30]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[31]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[32]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[17]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[18]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[33]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[34]}} alt="">
        </div>
         <div class="grid-item classic">
          <img class="classic" src={{classics[19]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[20]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[35]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[36]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[37]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[38]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[21]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[22]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[39]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[40]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[41]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[42]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[23]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[24]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[43]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[44]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[45]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[46]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[25]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[26]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[47]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[48]}} alt="">
        </div>
      </li>

      <li class="layer background" data-depth="0.00">
        

        <div class="input-field search-container col s12">
          <input ng-blur="closeSearch()" class="search-bar" placeholder="Games, Consoles, Accessories" ng-model="search.search" ng-change="searchQuery()" id="search" type="search">
          <div ng-show="showSearch"class="collection search-results">
            <div class="collection item-container">
                <p>Consoles</p>
                <div ng-repeat="(key, value) in searchResults.consoles" class="collection-item avatar results search-results-hover">
                  <!-- <div ng-click="searchRedirect(value)"> -->
                  <a class="block" href="#/consoles/{{value._id}}">
                    <img ng-src="{{value.picture}}" alt="" class="circle">
                    <span class="title">{{value.name}}</span>
                    <p>Rating: {{value.rating}} <br>
                    </p>
                    <span href="#!" class="secondary-content">Add to Cart</span>
                  </a>
                  <!-- </div> -->
                </div>
              <div class="collection item-container">
                  <p>Games</p>
                  <div ng-repeat="(key, value) in searchResults.games" class="collection-item avatar results search-results-hover">
                    <a class="block" href="#/games/{{value._id}}">
                      <img ng-src="{{value.cover}}" alt="" class="circle">
                      <span class="title">{{value.title}}</span>
                      <p>Rating: {{value.rating}} <br>
                      </p>
                      <span href="#!" class="secondary-content">Add to Cart</span>
                    </a>
                  </div>
              </div>
              <div class="collection item-container">
                  <p>Accessories</p>
                  <div ng-repeat="(key, value) in searchResults.accessories" class="collection-item avatar results search-results-hover">
                    <a class="block" href="#/accessories/{{value._id}}">
                      <img ng-src="{{value.picture}}" alt="" class="circle">
                      <span class="title">{{value.name}}</span>
                      <p>Rating: {{value.rating}} <br>
                      </p>
                      <span href="#!" class="secondary-content">Add to Cart</span>
                    </a>
                  </div>
              </div>
          </div>
        </div>                


      </li>
    
    </ul>
  </div>

<!-- How it Works -->
  <div class="container">
      <h4 class="center-align">How It Works</h4>
    <div class="row">
      <div class="center-align col m4 s12">
        <span><i class="material-icons how-it-works">games</i></span>
        <p>Choose from your favorite consoles, games, and accessories.</p>
      </div>
      <div class="center-align col m4 s12">
        <span><i class="material-icons how-it-works">directions_car</i></span>
        <p>Get it delivered to your door in 2 hours or less</p>
      </div>
      <div class="center-align col m4 s12">
        <span><i class="material-icons how-it-works">group</i></span>
        <p>Request a return via text when you're done playing</p>
      </div>
  </div>

  <div>
    <div class="row">
    <div class="col m6 s12">
    <h4>Top Games</h4>
    <md-card ng-repeat="game in topGames">
        <md-card-title>
          <md-card-title-text>
            <a ng-href="#/games/{{game._id}}" class="title">{{game.title}}</span></a>
            <span class="md-subhead">${{game.price}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media">
              <a ng-href="#/games/{{game._id}}"><img ng-src="{{game.cover}}" class="md-pic"></a>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="showTopItem($event, game)" class="btn primary-color center-align">Add to Cart</md-button>
        </md-card-actions>
      </md-card>
      </div>
      <div class="col m6 s12">
      <h4>Top Consoles</h4>
      <md-card ng-repeat="console in topConsoles">
        <md-card-title>
          <md-card-title-text>
            <a ng-href="#/consoles/{{console._id}}" class="title">{{console.name}}</a>
            <span class="md-subhead">${{console.price}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <a ng-href="#/consoles/{{console._id}}"><img ng-src="{{console.picture}}" width="300px" class="md-pic valign-wrapper"></a>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="showTopConsoleItem($event, console)" class="btn primary-color center-align">Add to Cart</md-button>
        </md-card-actions>
      </md-card>
      </div>
      </div>
  </div>