<!-- CART -->
<ng-include src="'html/cust/cart.html'"></ng-include>

<!-- HEADER -->
<!-- 		<div class="section no-pad-bot primary-color">
			<div class="container">
				<h1 class="center-on-small-only white-text">GameByrd</h1>
				<div class="row center">
					<h4 class="header col s12 light center white-text">Welcome to the first truly on demand game rental service</h4>
				</div>
				<div class="row center padding-bottom">
					<a ng-href="#/howitworks" class="btn-large waves-effect waves-light secondary-color">HOW IT WORKS</a>
				</div>
			</div>
		</div> -->
<script type="text/javascript">

var $grid = $('.grid').imagesLoaded( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
    columnWidth: 10
  }); 
});

var scene = document.getElementById('scene');
var parallax = new Parallax(scene);
parallax.limit(72, 72)

 $("#mouseenter")
    .mouseenter(function () { 
      console.log('mouseenter working')
      parallax.enable()
      parallax.limit(89, 89)
  })
    .mouseleave(function () { 
        console.log('mouseleave working')
        setTimeout(parallax.disable, 500)
        
    })



</script>

 <div id="mouseenter" class="container-exp shadow">
    <ul id="scene" data-invert-x="true" class="scene">
      
      <li class="layer grid" data-depth="1.40">
        <div class="grid-item new">
          <img class="new" src={{newbies[0]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[0]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[1]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[1]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[2]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[3]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[4]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[3]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[4]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[5]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[6]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[7]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[8]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[5]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[6]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[9]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[10]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[11]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[12]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[7]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[8]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[13]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[14]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[15]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[16]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[9]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[10]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[17]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[18]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[19]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[20]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[11]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[12]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[21]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[22]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[23]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[24]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[13]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[14]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[25]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[26]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[27]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[28]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[15]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[16]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[29]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[30]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[31]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[32]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[17]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[18]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[33]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[34]}} alt="">
        </div>
         <div class="grid-item classic">
          <img class="classic" src={{classics[19]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[20]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[35]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[36]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[37]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[38]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[21]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[22]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[39]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[40]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[41]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[42]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[23]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[24]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[43]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[44]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[45]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[46]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[25]}} alt="">
        </div>
        <div class="grid-item classic">
          <img class="classic" src={{classics[26]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[47]}} alt="">
        </div>
        <div class="grid-item new">
          <img class="new" src={{newbies[48]}} alt="">
        </div>
      </li>

      <li class="layer background" data-depth="0.00">
      <!-- <div class="background"></div> -->
      </li>
    
    </ul>
  </div>

<!-- TOP CHARTS -->
	<div class="container">
		<div class="row">
			<div class="col m6">
				<h4>Top Rented Games</h4>
				<ul class="collection">
					<li ng-repeat="game in topGames" class="collection-item avatar content">
						<a ng-href="#/games/{{game.title}}"><img src="{{game.cover}}" class="sm-pic"></a>
						<a ng-href="#/games/{{game.title}}" class="title">{{game.title}}</span></a>
						<p>${{game.price}}</p>
						<md-button ng-click="showTopItem($event, game)" class="btn primary-color"><i class="material-icons addtocart">shopping_basket</i></md-button>
					</li>
				</ul>
			</div>
			<div class="col m6">
				<h4>Top Rented Consoles</h4>
				<ul class="collection">
					<li ng-repeat="console in topConsoles" class="collection-item avatar content">
						<a ng-href="#/consoles/{{console.name}}"><img src="{{console.picture}}" width="300px" class="sm-pic valign-wrapper"></a>
						<a ng-href="#/consoles/{{console._id}}" class="title">{{console.name}}</a>
						<p>${{console.price}}</p>
						<button ng-click="addToOrder(game)" data-target="modal1" class="btn modal-trigger primary-color"><i class="material-icons addtocart">shopping_basket</i></button>
					</li>
				</ul>
			</div>
		</div>
	</div>

  <div class="container">
    <div class="row">
      <div class="input-field col s12">
        <span>{{search.search}}</span>
        <input ng-model="search.search" ng-change="searchQuery()" id="search" type="search">
        <label for="search">Search for consoles, games, or accessories</label>
      </div>
    </div>
  </div>



<!--       <div class="row">
        <div class="col m6">
          <div class="card small" ng-repeat="game in topGames">
            <div class="card-image">
              <img src="{{game.cover}}">
              <span class="card-title">{{game.title}}</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col m6">
          <div class="card small" ng-repeat="console in topConsoles">
            <div class="card-image">
              <img src="{{console.picture}}">
              <span class="card-title">{{console.name}}</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div> -->

<!-- <div class="row">
	<div class="col m6" layout="column">
      <md-card ng-repeat="game in topGames">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{game.title}}</span>
            <span class="md-subhead">{{game.price}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg">
            	<img src="{{game.cover}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
        </md-card-actions>
      </md-card>
    </div>
	<div class="col m6" layout="column">
      <md-card ng-repeat="console in topConsoles">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{console.name}}</span>
            <span class="md-subhead">{{console.price}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg">
            	<img src="{{console.picture}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
        </md-card-actions>
      </md-card>
    </div>
</div> -->
